# Ignore the generated executable file
sim

# Ignore temporary and backup files
*.o
*.vcd
*.log
*~

todo_Felipe.txt

# Ignore generated verif files
__pycache__/
sim_build/
simv
compiled_file.vvp
results.xml

